@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

:root {
    --maincolor: #fac070;
    --secondcolor: #D6FF79;
    --shadow: #f2ffd4;
    --bgcolor: #1b1a1a;
    --font1: 'Bebas Neue', sans-serif ;
    --font2: 'Montserrat', sans-serif;
}

body{
    background: var(--bgcolor);
    margin: 13vh 5vw;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/*identity card*/
.idcard{
    background: var(--maincolor) ;
    width: 600px;
    height: 700px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.idcard img[alt="avatar"] {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    margin-top: 30px;
}
.idcard h1 {
    font-size: 50px;
    font-family: var(--font1);
    margin: 10px auto;
}
.idcard .jd {
    font-family: var(--font2);
    margin: 0 auto;
    font-size: 20px;
}
.idcard .am {
    font-family: var(--font1);
    font-size: 30px;
    margin: 20px auto;
    width: 320px;
    text-align: center;
    padding-top: 45px;
}

.icons a {
    font-size: 50px;
    text-decoration: none;
    color: black;
}
.icons img {
    width: 50px;
    margin: auto 10px;
}
.icons {
    padding-top: 110px;
}

/*arrow*/
.arrow img {
    width: 150px ;
    filter: drop-shadow(-3px 3px 5px var(--shadow));
    margin: 70px;
}

/*portfolio button*/
.pfbtn {
    background: var(--secondcolor);
    width: 250px;
    height: 80x;
    border-radius: 20px;
    transition: all .5s;

    display: flex;
    align-items: center;
    justify-content: center;
}
.pfbtn a {
    text-decoration: none;
    color: black;
    font-family: var(--font1);
    font-size: 40px;
}
.pfbtn:hover {
    border-radius: 20px;
    transform: translateY(-10px);
    box-shadow: 
    0 6px 0 -2px #6AB395,
    0 10px 0 -4px #EAAF3D,
    0 14px 0 -3px #927F91;
}